<% include ../partials/header %>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/dashboard?tipo=portifolio">Dashboard de <b>Portifólio</b></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/site_portifolio"><span class=""></span>Visualizar Site</a></li>
      <li><a href="/add_portifolio"><span class=""></span>Adicionar no <b>Portifólio</b></a></li>
      <li><a href="/sair"><span class=""></span>Sair</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <h1 class="text-center">Lista do Portifólio</h1>
  </div>

  <!-- loop -->

  <% if(secao.length > 0) { %>
    <% secao.forEach(element => { %>

      <div class="row">
        <section class="jumbotron lista_section">
          <h2><%= element.titulo %></h2>
          <p><%= element.descricao %></p>

          <div class="">
            <a href="/update_portifolio?id_secao=<%=element._id%>&titulo=<%=element.titulo%>&descricao=<%= element.descricao %>" class="col-md-offset-1 col-md-4 btn btn-warning">Atualizar</a>
            <a href="/delete_port/<%=element._id%>" class="col-md-offset-2 col-md-4 btn btn-danger">Deletar</a>
          </div>
        </section>
      </div>

    <% }) %>
  <% } else { %>
    <div class="row">
      <section class="text-center">
        <div class="alert alert-warning">
          <strong>Seu portifólio está vazio, adicione conteúdo!</strong>
        </div>
      </section>
    </div>
  <% } %>


  <!-- end loop -->

</div>

<% include ../partials/footer %>
